{% extends 'base.html.twig' %}


{% block content %}

    <section class="container m-auto">
        {% if notification %}
            <p class="alert alert-info">{{ notification }}</p>
        {% endif %}
        <a href="{{ path('account') }}">Retourner à mon compte.</a>
        <hr>
        {{ form(form) }}
    </section>

{% endblock %}

